---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import HeroCasaNegrano from '~/components/widgets/HeroCasaNegrano.astro';

import imgBilocale1 from '../../assets/images/bilocale/IMG_8928.webp';
import imgBilocale2 from '../../assets/images/bilocale/IMG_8929.webp';
import imgBilocale3 from '../../assets/images/bilocale/IMG_8930.webp';
import imgBilocale4 from '../../assets/images/bilocale/IMG_8931.webp';
import imgBilocale5 from '../../assets/images/bilocale/IMG_8932.webp';
import imgBilocale6 from '../../assets/images/bilocale/IMG_8933.webp';
import imgBilocale7 from '../../assets/images/bilocale/IMG_8934.webp';
import imgBilocale8 from '../../assets/images/bilocale/IMG_8935.webp';
import imgBilocale9 from '../../assets/images/bilocale/IMG_8936.webp';
import imgBilocale10 from '../../assets/images/bilocale/IMG_8937.webp';
import imgBilocale11 from '../../assets/images/bilocale/IMG_8939.webp';
import imgBilocale12 from '../../assets/images/bilocale/IMG_8940.webp';
import imgBilocale13 from '../../assets/images/bilocale/IMG_8941.webp';
import imgBilocale14 from '../../assets/images/bilocale/IMG_8942.webp';
import imgBilocale15 from '../../assets/images/bilocale/IMG_8943.webp';
import imgBilocale16 from '../../assets/images/bilocale/IMG_8944.webp';
import imgBilocale17 from '../../assets/images/bilocale/IMG_8945.webp';
import imgBilocale18 from '../../assets/images/bilocale/IMG_8946.webp';
import imgBilocale19 from '../../assets/images/bilocale/IMG_8947.webp';
import imgBilocale20 from '../../assets/images/bilocale/IMG_8948.webp';

import imgTrilocale1 from '../../assets/images/trilocale/IMG_8950.webp';
import imgTrilocale2 from '../../assets/images/trilocale/IMG_8951.webp';
import imgTrilocale3 from '../../assets/images/trilocale/IMG_8952.webp';
import imgTrilocale4 from '../../assets/images/trilocale/IMG_8954.webp';
import imgTrilocale5 from '../../assets/images/trilocale/IMG_8955.webp';
import imgTrilocale6 from '../../assets/images/trilocale/IMG_8956.webp';
import imgTrilocale7 from '../../assets/images/trilocale/IMG_8957.webp';
import imgTrilocale8 from '../../assets/images/trilocale/IMG_8958.webp';
import imgTrilocale9 from '../../assets/images/trilocale/IMG_8959.webp';
import imgTrilocale10 from '../../assets/images/trilocale/IMG_8961.webp';
import imgTrilocale11 from '../../assets/images/trilocale/IMG_8962.webp';
import imgTrilocale12 from '../../assets/images/trilocale/IMG_8963.webp';
import imgTrilocale13 from '../../assets/images/trilocale/IMG_8964.webp';
import imgTrilocale14 from '../../assets/images/trilocale/IMG_8965.webp';
import imgTrilocale15 from '../../assets/images/trilocale/IMG_8969.webp';
import imgTrilocale16 from '../../assets/images/trilocale/IMG_8970.webp';
import imgTrilocale17 from '../../assets/images/trilocale/IMG_8971.webp';
import imgTrilocale18 from '../../assets/images/trilocale/IMG_8972.webp';

import imgCasa from '../../assets/images/casa.webp';

const imagesBilocale = [
  imgBilocale1,
  imgBilocale2,
  imgBilocale3,
  imgBilocale4,
  imgBilocale5,
  imgBilocale6,
  imgBilocale7,
  imgBilocale8,
  imgBilocale9,
  imgBilocale10,
  imgBilocale11,
  imgBilocale12,
  imgBilocale13,
  imgBilocale14,
  imgBilocale15,
  imgBilocale16,
  imgBilocale17,
  imgBilocale18,
  imgBilocale19,
  imgBilocale20,
];

const imagesTrilocale = [
  imgTrilocale1,
  imgTrilocale2,
  imgTrilocale3,
  imgTrilocale4,
  imgTrilocale5,
  imgTrilocale6,
  imgTrilocale7,
  imgTrilocale8,
  imgTrilocale9,
  imgTrilocale10,
  imgTrilocale11,
  imgTrilocale12,
  imgTrilocale13,
  imgTrilocale14,
  imgTrilocale15,
  imgTrilocale16,
  imgTrilocale17,
  imgTrilocale18,
];
const metadata = {
  title: 'Casa Negrano - Holiday Housing - Appartamenti / Casa vacanze a Trento',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Su di noi', href: '#about' },
        { text: 'Appartamenti', href: '#bilocale' },
        { text: 'I nostri comfort', href: '#comfort' },
        { text: 'Testimonianze', href: '#testimonianze' },
        // { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Contattaci',
          href: '/contact',
        },
      ]}
      isSticky,
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <!-- <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Personal Web Demo"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero> -->

  <HeroCasaNegrano />

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    images={[imgCasa]}
    items={[
      {
        icon: 'tabler:home-2',
        callToAction: {
          text: 'Bilocale 2 posti letto',
          href: '#bilocale',
        },
      },
      {
        icon: 'tabler:home-2',
        callToAction: {
          text: 'Trilocale 4 posti letto',
          href: '#trilocale',
        },
      },
    ]}
    image={{
      src: './src/assets/images/casa.webp',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Il tuo rifugio a Trento, tra natura e comfort</h2>
      <p>
        Situata a Villazzano, una tranquilla collina a soli 5 km dal centro di Trento, Casa Negrano offre due
        appartamenti accoglienti e confortevoli, ideali per chi desidera esplorare il Trentino o rilassarsi immerso
        nella natura. Circondata dalla bellezza delle montagne e collegata agevolmente alla città, la nostra struttura è
        perfetta per famiglie, coppie, gruppi di amici e chi viaggia per lavoro.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>

  <Content
    id="bilocale"
    title="I nostri appartamenti"
    subtitle="Appartamenti accoglienti per ogni esigenza."
    isReversed
    images={imagesBilocale}
    items={[
      {
        title: 'Descrizione:',
        description:
          'Composto da una camera matrimoniale, un bagno con doccia e un soggiorno con cucina completamente attrezzata, offre un ambiente intimo e confortevole, ideale per coppie e piccoli nuclei familiari.',
      },
      {
        title: 'Superficie:',
        description: '70 mq',
        icon: 'tabler:ruler-2',
      },
      {
        title: 'Capacità:',
        description: '2 ospiti',
        icon: 'tabler:users',
      },
      {
        title: 'Prezzi:',
        description: 'A partire da € 90,00',
        icon: 'tabler:currency-euro',
      },
    ]}
    callToAction={{
      // target: '_blank',
      // text: 'Go to the project',
      // icon: 'tabler:chevron-right',
      // href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Ampio bilocale: <br /><span class="text-2xl">Camera Matrimoniale con balcone privato</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="trilocale"
    isReversed
    isAfterContent={true}
    images={imagesTrilocale}
    items={[
      {
        title: 'Descrizione:',
        description:
          "L'appartamento offre due camere (una matrimoniale e una con due letti singoli), due bagni (uno con doccia) e un soggiorno con cucina ben fornita. Perfetto per famiglie o gruppi di amici che desiderano maggiore spazio e comfort.",
      },
      {
        title: 'Superficie:',
        description: '120 mq',
        icon: 'tabler:ruler-2',
      },
      {
        title: 'Capacità:',
        description: '4 ospiti',
        icon: 'tabler:users',
      },
      {
        title: 'Prezzi:',
        description: 'A partire da € 110,00',
        icon: 'tabler:currency-euro',
      },
    ]}
    callToAction={{
      // target: '_blank',
      // text: 'Go to the project',
      // icon: 'tabler:chevron-right',
      // href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Ampio Trilocale: <br /><span class="text-2xl">2 camere e 2 bagni</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    id="comfort"
    title="I nostri Comfort"
    subtitle="Tutto ciò che serve per un soggiorno senza pensieri."
    columns={3}
    defaultIcon="tabler:wifi"
    items={[
      {
        title: 'WiFi ad alta velocità',
        description:
          'Rimani sempre connesso con una connessione veloce e stabile, ideale per lavorare da remoto o per lo streaming dei tuoi contenuti preferiti.',

        icon: 'tabler:wifi',
      },
      {
        title: 'Parcheggio in struttura',
        description:
          'Parcheggia comodamente la tua auto nella nostra struttura, senza pensieri e senza costi aggiuntivi.',
        icon: 'tabler:parking-circle',
      },
      {
        title: 'Self-check-in flessibile',
        description:
          "Arriva quando vuoi: grazie al nostro sistema di self-check-in, hai la libertà di scegliere l'orario di arrivo più comodo per te.",
        icon: 'tabler:door-enter',
      },
      {
        title: 'Riscaldamento e raffrescamento a pavimento',
        description: 'Il massimo del comfort termico in ogni stagione, per un ambiente sempre alla temperatura ideale.',
        icon: 'tabler:air-conditioning',
      },
      {
        title: 'Cucina ben attrezzata',
        description:
          'Ogni appartamento dispone di una cucina completa, dotata di tutto il necessario per preparare e gustare i tuoi pasti preferiti.',
        icon: 'tabler:tools-kitchen',
      },
      {
        title: 'Balcone privato',
        description:
          "Goditi la vista e l'aria fresca dal balcone del tuo appartamento, perfetto per un momento di relax all'aperto.",
        icon: 'tabler:building-bridge-2',
      },
      {
        title: 'Biancheria e asciugamani inclusi',
        description:
          'Troverai tutto ciò di cui hai bisogno per un soggiorno confortevole, con biancheria e asciugamani forniti per ogni ospite.',
        icon: 'tabler:bed',
      },
      {
        title: 'Ascensore',
        description:
          'Il nostro ascensore offre un accesso facile e comodo a tutti gli appartamenti, garantendo un soggiorno senza ostacoli per famiglie, coppie e ospiti con mobilità ridotta.',
        icon: 'tabler:elevator',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonianze"
    title="Le testimonianze"
    subtitle="Scopri cosa dicono di noi i nostri ospiti."
    testimonials={[
      {
        testimonial: `Casa moderna con ascensore e parcheggio, dotata di tutto il necessario e anche di più! C'è addirittura un adattatore per caricare qualsiasi tipo di cellulare. Franco e la moglie sono molto disponibili. La doccia è enorme e il materasso è comodissimo. Consigliatissimo!`,
        name: 'Sara',
        // job: 'Creative director',
        // image: {
        //   src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
        //   alt: 'Mark Thompson Image',
        // },
      },
      {
        testimonial: `Molto pulito e di nuova qualità. Cucina ben attrezzata, c'è tutto! Materassi molto comodi. Tutto impeccabile! Proprietari molto gentili, sempre disponibili e che si sono fatti sentire da soli. Ci torneremmo subito! Siamo stati entusiasti. - Tradotto dal tedesco`,
        name: 'Sebastian',
        // job: 'CEO',
        // image: {
        //   src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
        //   alt: 'Emily Martinez Image',
        // },
      },
      {
        testimonial: `Appartamento grande e pulito. Tutto nuovo e ben organizzato. Confortevole`,
        name: 'Giuseppina',
        // job: 'Founder of an NGO',
        // image: {
        //   src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
        //   alt: 'Laura Simmons Image',
        // },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Non aspettare, la tua vacanza ti aspetta!"
    subtitle="Prenota subito il tuo soggiorno a Casa Negrano e inizia a pianificare il tuo viaggio!"
    actions={[
      {
        variant: 'primary',
        text: 'Contattaci',
        href: '/contact',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
